* {
  box-sizing: border-box;
}

section{
  width: 100%;
  padding: 10px 0px 10px 0px
}

section:after{
  clear: both;
  display:block;
  content:''
}


 h1, h2, h3, h4, h5, h6, p, ul, li, a{
   font-family: 'Montserrat', sans-serif;
}

.main-width {
  margin: 0 auto;
  max-width: 1300px;
}

/* header, navigation*/

header{
  background-color:black;
  color: white;
  height: 55px;
  width:100%;
}

.logo p {
  float: left;

  text-transform: uppercase;
}

nav {
  float:right;
}


nav ol > li {
  list-style-type: none;
  float:right;
  width:120px;
  padding: 5px;
  font-size: 14px;
  text-transform: uppercase;
}

nav ol > li > ul {
  list-style-type:none;
  padding:0;
  margin:0;
  display:none;
  text-transform: lowercase;
}


nav li a {
  color: white;
  text-decoration: none;
}

nav ol > li:hover > ul {
  display:block;
  background-color: black;
  margin-top: 30px;
  margin-left: -10px;
  position: absolute;

}
nav ul > li{
  padding: 10px
}

/* section 1 - slider*/

.slider-image{
  float:left;
  width:40%;
  margin: 0;
  display: inline-block;
  padding-top: 100px;
  padding-left: 50px;
}


.slider-text{
  padding: 100px 170px 100px 70px;
  float:right;
  width: 60%;
  text-align: center;
}

.banner {
  height: 500px;
  background-image: linear-gradient(to bottom, white, #D5D5DC);
}

.slider-text h1{
  text-transform: uppercase;
  font-size:40px;
  font-weight: 400;
}

.slider-text p{
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 20px
}

.slider-navigation-left {
  font-size: 75px;
  display: inline-block;
  float: left;
  width: 50px;
}

.slider-navigation-right {
  font-size: 75px;
  display: inline-block;
  float: right;
  width: 50px;
}

.slider-navigation {
  position: absolute;
  width:1300px;
  color: #0092FD;
  top: 200px
}

strong {
  color:#0092FD
}

.button a{
  color: white;
  text-decoration: none;
  background-color: #0092FD;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size:
}

/* section 2 - products */
.product {
  display: inline-block;
  width:400px;
  background-color: grey;
  float: left;
}

.product-1 {
  background-image: url("../images/box1_img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height:250px;
  margin:25px 25px 25px 0px;
}

.product-2 {
  background-image: url("../images/box2_img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height:250px;
  margin:25px 25px 25px 15px;
}

.product-3 {
  background-color:white;
  border: 1px solid #CECED6;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin:25px 0px 25px 25px;
}

.product-3 .title{
  height:auto;
  overflow:auto;
  padding:25px;
  background: none;
  margin:0px
}

.title p{
  line-height: 25px;
  color:grey}

.product-3 .title h4{
  margin: 0;
  padding: 0
}

.title {
  background-color: rgba(255, 255, 255, 0.7);
  height: 70px;
  margin-top: 160px;
}

.title h4 {
  font-weight: 400;
  padding: 20px 0px 2px 0px;
  border-bottom: 5px solid #0092FD;
  width: 150px;
  margin-left: 15px;
}

/* section 3 - prices */
.options{
  height: 700px;
  margin: 0 auto;
  padding: 40px 0;
}
.prices{
  background-color: #F1F1F1;
}

.price{
  height: 100%;
  width: 400px;
  display: inline-block;
  text-align: center;
  border: 1px solid #CECED6;
  float:left;
  background-color:white;
  padding-bottom: 50px;
  font-size: 18px
}

.prices h3, .contact h3{
  font-weight: 200;
  text-transform: uppercase;
  border-bottom: 5px solid #0092FD;
  width: 350px;
}

.prices h2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 28px
}

.price-option-1{
  margin: auto 20px auto 0
}

.price-option-2{
  margin: auto 20px auto 20px
}

.price-option-3{
  margin: auto 0 auto 20px
}

.money {
  font-size: 45px
}

.money sup{
  font-size: 15px
}

.money-per-month p{
  padding: 2px 0px 2px 0px;
  margin: 0;
  color:#939393
}

.money-per-month{
  border: 1px solid #CECED6;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 30px auto;
  padding: 15px
}

.active {
  background-color: #0092FD;
  color: white
}

.active .money-per-month p {
  color:#0092FD
}

.active .money-per-month{
  background-color: white
}
.offering{
  height: 220px;
  color: #605E5E
}

 .button-option  p{
  padding: 10px;
  background-color: #0092FD;
  border-radius: 10px;
  text-transform: uppercase;
  margin:0 120px;
  color: white
}

.circle{
  width:50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #CECED6;
  position: relative;
  top:-25px;
  left:175px;
}

.circle-inside{
  width:30px;
  height: 30px;
  background-color: grey;
  border-radius: 50%;
  margin:9px auto;
}

.active .circle{
  width:50px;
  height: 50px;
  background-color: #0092FD;
  border-radius: 50%;
  border: 1px solid #0092FD;
  position: relative;
  top:-25px;
  left:175px;
}

.active .circle-inside{
  width:30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  margin:9px auto;
}

.active .button-option p{
  background-color: white;
  color:#0092FD
}

.offering p {
  background-color: #F9F9F9;
  padding: 10px;
  margin: 0 auto
}

.price-option-1 .offering p:nth-child(2n+1), .price-option-3 .offering p:nth-child(2n+1) {
  background-color: #E4E4E4;
  padding: 10px;
  margin: 0 auto
}

.price-option-2 .offering p:nth-child(2n+2){
  background-color: #E4E4E4;
  padding: 10px;
  margin: 0 auto
}

.active .offering p {
  color:#605E5E
}

/* section 4 - contact */

.form {
  height:450px
}

.left-column, .right-column{
  position: inline-block;
  float: left;

}

.left-column {
  width:60%
}

.right-column{
  width:40%
}

.right-column img{
  display: block;
  margin: 0 auto;
  margin-bottom: 25px
}
.right-column img:after{
  clear: both;
  display:block;
  content:''
}

input[type=text], input[type=email]{
  height:50px;
  width:750px;
  margin: 20px 0;
  border-radius: 0;
  border: 1px solid #0092FD;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #CACACA;
  padding: 15px
}

textarea {
  width:750px;
  height:180px;
  resize: none;
  margin: 20px 0;
  border-radius: 0;
  border: 1px solid #0092FD;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #CACACA;
  padding: 15px
}

input[type=submit]{
  float: left;
  display: inline-block;
  width: 500px;
  height: 70px;
  background-color: #0092FD;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  text-transform: uppercase;
  margin-top:25px
}
input[type=checkbox]{
  font-family: 'Montserrat', sans-serif;
  width: 70px;
  height: 50px;
  margin-top: 0px;
  display: inline-block;
  float: left;


}

label{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-align: left;


}

/*footer*/
footer .right-column img{
  width:35px;
  display: inline-block;
  float: left;
}

footer .right-column p{
  display: inline-block;
  float: right;
}

footer{
  padding-bottom: 50px
}
